
<h1>DASHBOARD</h1>
<h3 >Welcome {{user}}</h3>
<h4> <a class="a1" routerLink="/transaction"> Transaction Details</a></h4>
<div class="main-div">
<div class="wrapper text-center deposit">
    <div class="logo">
        <img src="../../assets/image/bank.png" alt="">
    </div>
    <div class="text-center mt-4 fs-6 fw-bold name">
        DEPOSIT
    </div>
    <form action="" class="text-center p-3 mt-3 ">
        <div class="form-field d-flex align-content-center m-3">
            <input [(ngModel)]="amount" style="margin-left: auto; margin-right: auto;" type="text" name="amount" id="amount" placeholder="amount">
        </div>
        <div class="form-field d-flex align-content-center m-3">
            <input [(ngModel)]="acno" style="margin-left: auto; margin-right: auto;" type="text" name="acno" id="login_acno" placeholder="accounts">
        </div>
        <div class="form-field d-flex align-items-center m-3">
            <input [(ngModel)]="pswd" style="margin-left: auto; margin-right: auto;" type="password" name="password" id="login_pswd" placeholder="Password">
        </div>
        <button class="btn btn-primary mt-3" (click)="deposit()" type="button">Deposit</button>
    </form>
    <div class="text-center m-3">
        <a href="#">Forgot Password?</a> or <a routerLink="">Login</a>
    </div>
</div>

<div class="wrapper text-center withdraw">
    <div class="logo">
        <img src="../../assets/image/bank.png" alt="">
    </div>
    <div class="text-center mt-4 fs-6 fw-bold name">
        WITHDRAW
    </div>
    <form action="" class="text-center p-3 mt-3 ">
        <div class="form-field d-flex align-content-center m-3">
            <input [(ngModel)]="amount1" style="margin-left: auto; margin-right: auto;" type="text" name="amount" id="amount" placeholder="amount">
        </div>
        <div class="form-field d-flex align-content-center m-3">
            <input [(ngModel)]="acno1" style="margin-left: auto; margin-right: auto;" type="text" name="acno" id="login_acno" placeholder="accounts">
        </div>
        <div class="form-field d-flex align-items-center m-3">
            <input [(ngModel)]="pswd1" style="margin-left: auto; margin-right: auto;" type="password" name="password" id="login_pswd" placeholder="Password">
        </div>
        <button class="btn btn-primary mt-3" (click)="withdraw()" type="button">Withdraw</button>
    </form>
    <div class="text-center m-3">
        <a href="#">Forgot Password?</a> or <a routerLink="">Login</a>
    </div>
</div>


</div>